[submodule "Exercicis_Fites1"]
	path = Exercicis_Fites1
	url = https://github.com/valeriasm2/Exercicis_Fites1.git
[submodule "Exercicis_Fites2"]
	path = Exercicis_Fites2
	url = https://github.com/valeriasm2/Exercicis_Fites2.git
[submodule "Exercicis_Fites3"]
	path = Exercicis_Fites3
	url = https://github.com/valeriasm2/Exercicis-Fites3.git
[submodule "Exercicis_Fites4"]
	path = Exercicis_Fites4
	url = https://github.com/valeriasm2/Exercicis_Fites4.git
[submodule "UF3/UF3_BASE_DE_DATOS"]
	path = UF3/UF3_BASE_DE_DATOS
	url = https://github.com/valeriasm2/UF3_BASE_DE_DATOS.git
